
<h1>
  <%= form_tag "/logout" do%>
  	<% submit_tag "logout" %>
  <% end %>
</h1>

<div>
  <h2>所有的阅读组</h2>
  <ul>
	<% @groups.each do |group| %>
		<li>
		  <%= link_to group.name, group_path(group.id) %>
		</li>
	<% end %>
  </ul>
  <%= link_to "创建新的阅读组", new_group_path %>
</div>

<div>
  <h2>你已经加入的阅读组</h2>
  <ul>
	<% @joint_groups.each do |group| %>
		<li>
		  <%= link_to group.name, group_path(group.id) %>
		</li>
	<% end %>
  </ul>
</div>