/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.inline-form{
    display: inline;
}

.invisible {
    display: none;
}

.fix-logout {
    margin-top: -6px;
}

.right-nav {
    float: right;
}

.list a {
    color: #3377aa;
}

html, body {
    background-color: #e9e9e2;
}

.line {
    margin-top: 10px;
    border-color: #c5c5c5;
    border-bottom-width: 1px;
    border-style: solid;
    height: 1px;
    width: 100%;
}