// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.douban_person_link {
  color: #3377aa;
}

.field-notes {
  color: #949494;
}

.register-info {
  color: #0c702a;
}